.home_page_body_top_div {
    background-color: #0A192F;
    position: relative;
}

.home_mission_top_div {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    color: white;
}

.home_mission_header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.home_mission_img_text_div {
    margin-top: 80px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.home_mission_img_text_div p {
    font-size: 20px;
    line-height: 28px;
}

.home_mission_img_text_animation {
    position: relative;
    top: 0px;
    transition: .5s;
}

.home_mission_img_text_animation:hover {
    top: -20px;
}

.home_mission_img {
    width: 500px;
    height: 320px;
    object-fit: cover;
    object-position: center;

    border-radius: 80px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}


.home_events_div {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #0A192F;
    display: flex;
    justify-content: center;
    color: white;
}

.home_events_header {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}

.home_events_text {
    font-size: 20px;
    line-height: 28px;
}

.home_events_inner_div {
    display: flex;
    align-items: flex-start;
    gap: 0px;
    max-width: 1000px;
}

.home_events_img_carousel_div {
    max-width: 500px;
    opacity: 0;
    transform: translateX(100px);
    /* Move the object down initially */
    transition: opacity 1s ease, transform 1.4s ease;
}

.home_events_img {
    margin: auto;
    width: 500px;
}

.home_page_line_and_description_div {
    opacity: 0;
    transform: translateY(100px);
    /* Move the object down initially */
    transition: opacity 1s ease, transform 1.4s ease;
}

.home_page_line_and_description_div.visible {
    opacity: 1;
    transform: translateY(0);
    /* Move the object back to its original position */
}

.home_events_header_text_div {
    opacity: 0;
    transform: translateX(-100px);
    /* Move the object down initially */
    transition: opacity 1s ease, transform 1.4s ease, top .5s;
}

.home_events_img_carousel_div.visible,
.home_events_header_text_div.visible {
    opacity: 1;
    transform: translateX(0);
    /* Move the object back to its original position */
}


@media screen and (max-width: 1100px) {
    .home_mission_img_text_div {
        max-width: 800px;
        flex-direction: column;
        gap: 40px;
    }

    .home_events_inner_div {
        max-width: 800px;
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {
    .home_mission_img_text_div {
        max-width: 600px;
    }

    .home_events_inner_div {
        max-width: 600px;
    }
}

@media screen and (max-width: 750px) {
    .home_mission_img {
        width: 370px;
        height: 250px;
        border-radius: 50px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
    }


    .home_mission_img_text_div {
        max-width: 370px;
    }

    .home_events_inner_div {
        max-width: 370px;
    }

    .home_events_img {
        max-width: 280px;
    }
}